.card{
   box-shadow: 0px 16px 14px 0px rgba(4, 21, 45, 1);
   background: linear-gradient(180deg, #576CBC -14.75%, #132A53 50.1%);
   /* margin-right: 5px; */
}
.cardText,.cardTitle{
    color: #fff;
}
.headSection{
    margin-bottom: 30px;
}
.projectSection{
    padding: 40px;
}
.cardImg{
    padding: 5%;
    border-radius: 20px;
}
.cardTitle{
    font-weight: 700;
    font-size: 25px;
}
.techStack{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.cardText{
    font-weight: 400;
    font-size: 25px;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.techItem{
    border-radius: 30px;
    padding: 7px 10px;
    background: rgba(11, 36, 71, 1);
    font-weight: 400;
    font-size: 25px;
    margin-right: 10px;
}
.demo,.code{
    color: #fff;
    background-color: #576CBC;
    text-decoration: none;
    border-radius: 30px;
    padding: 7px 6px;
    font-weight: 700;
    font-size: 25px;
    margin-right: 10px;
    align-self: center;
}
.headSection{
    font-weight:700;
    font-size:35px;
    text-transform: uppercase;
    color:#fff;
}
.card>div{
    color: #fff;
}
@media (max-width:992px) {
    .card{
        margin-bottom: 30px;
    }
}