.aboutSection{
    margin-top: 140px;
    border-radius: 30px;
    padding: 40px!important;
    color: #fff;
    position: relative;
    z-index: 111;
    background-color: rgba(12, 12, 12, 0.6);
}
.listItem{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    background: linear-gradient(90deg,rgba(165,215,232,0.42)0%,rgba(255,255,255,0)100%);
    background-repeat:no-repeat ;
    background-size: 0 100%;
    transition: 0.4s;
    padding: 20px;
    border-radius: 10px;
}
.listItem:hover{
    background-size: 100% 100%;
}
.icon{
    filter: drop-shadow(0 0 10px rgba(1, 103, 186, 1));
    margin-right: 15px;
    align-self: center;
}
@media (max-width:768px) {
    .girlImage{
        display: none;
    }
    .aboutSection{
        background: none;
    }
    
}